body{
  color: white ;
  text-align: center;
  font-family: Helvetica, Arial;
  font-size: 14px;
  font-weight: normal;
  line-height: 1em;
  margin:1;
  overflow-x: hidden;
}

a {
   text-decoration:none;
  color: #47b797;
}
a:hover {
  color: black ;
  background-color: #cfc ;
}

  .box-1 {
    background-color: #212528;
    color: white;
    border-radius: 7px;
    border: 2px 	#B6B6B6 solid;
    text-align: center;
  }

  .box-2 {
    background-color: #212528;
    color: white;
    border-radius: 7px;
    border: 2px #B6B6B6 solid;
    padding-left: : 30px;
    text-align: center;
  }
  .box-5 {
    background-color: #212528;
    color: white;
    border-radius: 7px;
    border: 2px 	#B6B6B6 solid;
    text-align: center;
  }
html  {
  background-color: black
}
header{
  color: white;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 70%;
    max-width: 70%;
}
footer  {
  color: black;
}
